[tool.poetry]
name = "prophetverse"
version = "0.2.0"
description = ""
authors = ["Felipe Angelim <felipeangelim@gmail.com>"]
readme = "README.md"
packages = [{ include = "prophetverse", from="src"}]

[tool.poetry.dependencies]
python = ">=3.9, <3.13"
sktime = ">=0.21"
numpyro = ">=0.13.2"
optax = ">=0.2"
graphviz = "^0.20.3"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.26.0"
pytest = "^8.0.0"
sphinx = "^7.2.6"
matplotlib = "^3.8.2"
mkdocs = "^1.5.3"
mkdocstrings-python = "^1.9.0"
mkdocs-jupyter = "^0.24.6"
pymdown-extensions = "^10.7.1"
mkdocs-material = "^9.5.14"
pytest-cov = "^5.0.0"
pre-commit = "^3.7.1"
commitlint = "^1.0.0"
isort = "^5.13.2"
black = "^24.4.2"
pydocstyle = "^6.3.0"
mypy = "^1.10.0"
pylint = "^3.2.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pre-commit]

