.cell-output {
    overflow: auto;
    max-height: 100vh;
    max-width: 100%;
    margin: 1vh;
    padding: 0 3vh 1.5vh 3vh;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--md-code-bg-color);
}

.cell-output-title {
    font-size: small;
    font-weight: 700;
    margin-bottom: 1rem;
}
.cell-output-count {
    color: var(--md-default-fg-color--lighter);
    font-size: var(--md-default-font-size--smaller);
}