.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2.2rem;
    width: 2.2rem;
}

.dataframe tbody tr th:only-of-type {
    vertical-align: middle;
}

.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}

.dataframe {
    table-layout: auto !important
}

.md-typeset__scrollwrap {
    margin: 0
}

.jp-MarkdownOutput {
    padding: 0
}

h1 .anchor-link,
h2 .anchor-link,
h3 .anchor-link,
h4 .anchor-link,
h5 .anchor-link,
h6 .anchor-link {
    display: none;
    margin-left: .5rem;
    color: var(--md-default-fg-color--lighter)
}

h1 .anchor-link:hover,
h2 .anchor-link:hover,
h3 .anchor-link:hover,
h4 .anchor-link:hover,
h5 .anchor-link:hover,
h6 .anchor-link:hover {
    text-decoration: none;
    color: var(--md-accent-fg-color)
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
    display: inline-block
}

.jp-InputArea,
.jp-Cell-inputArea,
.jp-RenderedHTMLCommon {
    width: 100%
}

.jp-Cell-inputWrapper .jp-InputPrompt {
    display: none
}

.jp-CodeCell .jp-Cell-inputWrapper .jp-InputPrompt {
    display: block
}

.jp-Cell .jp-InputPrompt {
    cursor: normal
}

.highlight pre {
    background-color: #f5f5f5;
    padding: 10px;
    overflow: auto
}

.celltoolbar {
    border: none;
    background: #eee;
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 29px;
    padding-right: 4px;
    box-orient: horizontal;
    box-align: stretch;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-pack: end;
    justify-content: flex-start;
    display: -webkit-flex
}

.celltoolbar .tags_button_container {
    display: flex
}

.celltoolbar .tags_button_container .tag-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    position: relative
}

.celltoolbar .tags_button_container .tag-container .cell-tag {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    white-space: nowrap;
    margin: 3px 4px;
    padding: 0 4px;
    border-radius: 1px;
    border: 1px solid #ccc;
    box-shadow: none;
    width: inherit;
    font-size: 11px;
    font-family: Roboto Mono, SFMono-Regular, Consolas, Menlo, monospace;
    height: 17px
}

.jp-InputArea-editor {
    width: 1px
}

.jp-InputPrompt,
.jp-OutputPrompt {
    overflow: unset
}

.jp-RenderedText {
    font-size: var(--jp-code-font-size)
}

.highlight-ipynb {
    overflow: auto
}

.highlight-ipynb pre {
    margin: 0;
    padding: 5px 10px
}

table {
    width: max-content
}

.dataframe {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-size: 12px;
    table-layout: fixed
}

.dataframe thead {
    border-bottom: 1px solid black;
    vertical-align: bottom
}

.dataframe tr,
.dataframe th,
.dataframe td {
    text-align: right;
    vertical-align: middle;
    padding: .5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none
}

.dataframe th {
    font-weight: 700
}

.dataframe tbody tr:nth-child(odd) {
    background: #f5f5f5
}

.dataframe tbody tr:hover {
    background: rgba(66, 165, 245, .2)
}

*+table {
    margin-top: 1em
}

.jp-InputArea-editor {
    position: relative
}

.zeroclipboard-container {
    position: absolute;
    top: -3px;
    right: 0;
    z-index: 1
}

.zeroclipboard-container clipboard-copy {
    -webkit-appearance: button;
    -moz-appearance: button;
    padding: 7px 5px;
    font: 11px system-ui, sans-serif;
    display: inline-block;
    cursor: default
}

.zeroclipboard-container clipboard-copy:hover {
    cursor: pointer
}

.zeroclipboard-container .clipboard-copy-icon {
    width: 15px;
    padding: 2px 0;
    color: #57606a;
    vertical-align: text-bottom
}

.clipboard-copy-txt {
    display: none
}

[data-md-color-scheme=slate] .highlight pre {
    background-color: #21222c;
    padding: 10px;
    overflow: auto
}

[data-md-color-scheme=slate] .clipboard-copy-icon {
    color: #555 !important
}

[data-md-color-scheme=slate] .celltoolbar {
    background: #333 !important
}

[data-md-color-scheme=slate] .celltoolbar .tags_button_container .tag-container .cell-tag {
    background-color: transparent !important;
    border: 1px solid #666 !important
}

[data-md-color-scheme=slate] dataframe {
    color: #e9ebfc
}

[data-md-color-scheme=slate] dataframe thead {
    border-bottom: 1px solid rgba(233, 235, 252, .12)
}

[data-md-color-scheme=slate] dataframe tbody tr:nth-child(odd) {
    background: #222
}

[data-md-color-scheme=slate] dataframe tbody tr:hover {
    background: rgba(66, 165, 245, .2)
}

table {
    width: max-content
}

